extends layouts/default
block favicon
	link(rel='shortcut icon' href='img/favicon_1.ico' type='image/x-icon')
block vars
	-
		const page = {
			title: 'Gsap'
		};




block main
	canvas#noise.noise
	.header
		.header__left
			.header__letter P
			.header__socials
				a(href="" target="_blank")
					svg
						use(xlink:href="./svg/sprite.svg#fb")
				a(href="" target="_blank")
					svg
						use(xlink:href="./svg/sprite.svg#tw")
				a(href="" target="_blank")
					svg
						use(xlink:href="./svg/sprite.svg#in")
		.header__right
			ul.header__menu
				li.active
					a.js-scroll-link(href="javascript:;" data-link="0") HOME
				li
					a.js-scroll-link(href="javascript:;" data-link="1") Projects
				li
					a.js-scroll-link(href="javascript:;" data-link="2") awwards
				li
					a.js-scroll-link(href="javascript:;" data-link="3") testimonials
				li
					a.js-scroll-link(href="javascript:;" data-link="4") experience
				li
					a.js-scroll-link(href="javascript:;" data-link="5") blog
				li
					a.js-scroll-link(href="javascript:;" data-link="6") CONTACT

			.header__phone
				a(href="tel:+23155908368") +2(315) 590 83 68


	.scroll
		.home-page
			.page-title.show
				ul
					li
						.title my name is robert
						.number 1.0
					li
						.title Portfolio
						.number 2.0
					li
						.title my awwards
						.number 3.0
					li
						.title testimonials
						.number 4.0
					li
						.title working experience
						.number 5.0
					li
						.title from the blog
						.number 5.0
					li
						.title contact
						.number 6.0

				canvas#noise_menu.noise.noise--inner

			.scrollable
				section.home
					.sticky-title
						ul
							li(style="display:none")
								div my name is robert
								div 1.0
					.content
						.content__left
							.content__title
								.h1 GET &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; YOUR
								.small Always available for freelance work, contact me and get your greate design ;)
								.h1 GREAT
								.h1 &nbsp;&nbsp;&nbsp;&nbsp; Design

							.content__description
								.small Hello, my name is Pattison and i am UX/UI designer and front-end developer, im working via developer 9 years and i know all about design


							.content__btn-block
								.content__btn-label.small (hire me :)
								a.content__btn-btn.btn.btn--arrow.js-scroll-link(href="javascript:;" data-link="6")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")


							.home__numbers
								.home__number
									.home__number-digital(data-number="8") 0
									.home__number-text.small Years <br>experience
								.home__number
									.home__number-digital(data-number="5") 0
									.home__number-text.small Themeforest <br>awwards
								.home__number
									.home__number-digital(data-number="60") 0
									.home__number-text.small Projects <br>Done

						.content__right
							.home__circles
								.home__circles-lines
								.home__circle.home__circle--left
									img.home__circle-img(src="img/image-1.jpg" alt="")
								.home__circle.home__circle--right
									.home__circle-text
										a.js-brief-link(href="") Fill out the <br>brief to find out <br>the cost


			.scrollable
				section.projects
					.sticky-title
						ul
							li
								div Portfolio
								div 2.0
					.content
						.content__left
							.content__title
								.h1 projects

							ul.content__menu.projects__menu
								li.active
									a(href="") BERLING agency website
								li
									a(href="") Prettylittlething american shop
								li
									a(href="") Benhome - Architecture theme
								li
									a(href="") Gilhouse - architecture website
								li
									a(href="") gilber - personal website
								li
									a(href="") jonny - personal website



							.content__btn-block
								.content__btn-label.small View all works
								a.content__btn-btn.btn.btn--arrow(href="#")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")


						.content__right
							.projects__blocks
								.projects__block.active
									img(src="img/image-22.jpg" alt="")
								.projects__block.active
									img(src="img/image-2.jpg" alt="")
								.projects__block.active
									img(src="img/image-22.jpg" alt="")
								.projects__block.active
									img(src="img/image-2.jpg" alt="")
								.projects__block.active
									img(src="img/image-22.jpg" alt="")
								.projects__block.active
									img(src="img/image-2.jpg" alt="")

			.scrollable
				section.awards
					.sticky-title
						ul
							li
								div my awwards
								div 3.0
					.content
						.content__left
							.content__title
								.h1 Explore &nbsp; my
								.small I love my work and every project is my pride
								.h1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; profile

							.content__description
								.small Hello, my name is Pavel Suslov and i am UX/UI designer and front-end developer, im working via developer 9 years and i know all about design

							.content__btn-block
								.content__btn-label.small View behance
								a.content__btn-btn.btn.btn--arrow(href="#")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")


						.content__right
							.content__subtitle Professional <span>awards</span>
							.content__awards.awards__list
								.content__award
									.content__award-img
										img(src="img/award-1.png" alt="")
									.content__award-title
										p 1ST WINNER CREATIVE DESIGN CHAMPIONSHIP
									.content__award-text.small For most favorited design voted by NY City Style customers
								.content__award
									.content__award-img
										img(src="img/award-2.png" alt="")
									.content__award-title
										p BEST 5 BRANDING PROJECT OF NOMINATIONS
									.content__award-text.small For best creative & usable health care mobile app design
								.content__award
									.content__award-img
										img(src="img/award-3.png" alt="")
									.content__award-title
										p 8 Years of Membership
									.content__award-text.small Has been part of the Envato Community for over 8 years
								.content__award
									.content__award-img
										img(src="img/award-4.png" alt="")
									.content__award-title
										p Exclusive Author
									.content__award-text.small Sells items exclusively on Envato Market

			.scrollable
				section.testimonials
					.sticky-title
						ul
							li
								div testimonials
								div 4.0
					.content(style="background-image: url(images/testmonials-bg.png); background-size: auto 100%; background-repeat: no-repeat; background-position: center center;")
						.content__left
							.content__title
								.h1 +250
								.small I love my work and every project is my pride
								.h1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; happy
								.h1 &nbsp; clients
							.testimonials__clients
								.testimonials__client
									img(src="img/client-1.png" alt="")
								.testimonials__client
									img(src="img/client-2.png" alt="")
								.testimonials__client
									img(src="img/client-3.png" alt="")
								.testimonials__client
									img(src="img/client-4.png" alt="")
						.content__right
							.content__subtitle <span>Creative</span> & dedicated is things that my studio brings for your business

							.content__slider.slides.testimonials__slider
								.slides__container
									.slides__inner
										.slide
											.content__slider-text.small “ If you are seeking an Interior designer that will understand exactly your needs, and someone who will utilise their creative and technical skills in parity with your taste, then Suzanne at The Bauhaus Studio is perfect.
											.content__slider-name david & elisa
											.content__slider-staff.small Apartment view lake at Brooklyn
										.slide
											.content__slider-text.small “ If you are seeking an Interior designer that will understand exactly your needs, and someone who will utilise their creative and technical skills in parity with your taste, then Suzanne at The Bauhaus Studio is perfect.
											.content__slider-name elisa
											.content__slider-staff.small Apartment view lake at Brooklyn
										.slide
											.content__slider-text.small “ If you are seeking an Interior designer that will understand exactly your needs, and someone who will utilise their creative and technical skills in parity with your taste, then Suzanne at The Bauhaus Studio is perfect.
											.content__slider-name david & elisa
											.content__slider-staff.small Apartment view lake at Brooklyn
										.slide
											.content__slider-text.small “ If you are seeking an Interior designer that will understand exactly your needs, and someone who will utilise their creative and technical skills in parity with your taste, then Suzanne at The Bauhaus Studio is perfect.
											.content__slider-name david
											.content__slider-staff.small Apartment view lake at Brooklyn
								.slides__controls
									button#prevButton.slides__btn.slides__btn--prev.btn.btn--invert.btn--arrow
										svg
											use(xlink:href="./svg/sprite.svg#arrow")
									button#nextButton.slides__btn.slides__btn--next.btn.btn--arrow
										svg
											use(xlink:href="./svg/sprite.svg#arrow")

			.scrollable
				section.experience
					.sticky-title
						ul
							li
								div working experience
								div 5.0
					.content
						.content__bg(style="background-image: url(images/exp-bg.jpg);")
						.content__left
							.content__title
								.h1 Education&nbsp; &
								.small Professional awards I’ve reached during my working times.
								.h1 &nbsp;&nbsp; experience

							.content__description
								.small I have been developing sites for 8 years and I know for sure the main trends and directions of modern design, you will get a decent result

							.content__btn-block
								a.content__btn-btn.btn(href="#") resume

						.content__right
							.content__awards.experience__list
								.content__award
									.content__award-img
										img(src="img/soc-fb.svg" alt="")
									.content__award-title
										span.small 2019-2021
										p facebook
									.content__award-text.small Assertively exploit wireless initiatives rather than synergistic core competencies.
								.content__award
									.content__award-img
										img(src="img/soc-be.svg" alt="")
									.content__award-title
										span.small 2017-2019
										p behance
									.content__award-text.small im working via developer 9 years and i know all about design
								.content__award
									.content__award-img
										img(src="img/soc-tw.svg" alt="")
									.content__award-title
										span.small 2014-2017
										p twitter
									.content__award-text.small Credibly streamline mission-critical value with multifunctional functionalities. Leading team designers.
								.content__award
									.content__award-img
										img(src="img/soc-inst.svg" alt="")
									.content__award-title
										span.small 2012-2014
										p instagramm
									.content__award-text.small Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.
								.content__award
									.content__award-img
										img(src="img/soc-in.svg" alt="")
									.content__award-title
										span.small 206-2012
										p linkedin
									.content__award-text.small Assertively exploit wireless initiatives rather than synergistic core competencies.
			.scrollable
				section.news
					.sticky-title
						ul
							li
								div from the blog
								div 5.0
					.content
						.content__left
							.content__title
								.h1 latest
								.small I love my work and every project is my pride
								.h1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; news

							ul.content__menu.news__menu
								li.active
									a(href="") How to design well?
								li
									a(href="") Lemon Illustration design
								li
									a(href="") Paul theme Branding
								li
									a(href="") Best typography 2020
								li
									a(href="") my name is pattison

							.content__btn-block
								.content__btn-label.small View all works
								a.content__btn-btn.btn.btn--arrow(href="#")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")

						.content__right
							.news__blocks
								.news__block.active
									.news__block-info
										.news__block-date.small 3th January, 2020
										.news__block-text.small Berling ® —  minimalism photography agency website. with the help of a  minimalistic design, the site turned out to be very  user-friendly  and responsive, and the brand became more.
										.news__block-number (01)
									.news__block-image
										img(src="img/news.jpg" alt="")
								.news__block.active
									.news__block-info
										.news__block-date.small 3th January, 2020
										.news__block-text.small Berling ® —  minimalism photography agency website. with the help of a  minimalistic design, the site turned out to be very  user-friendly  and responsive, and the brand became more.
										.news__block-number (02)
									.news__block-image
										img(src="img/news.jpg" alt="")
								.news__block.active
									.news__block-info
										.news__block-date.small 3th January, 2020
										.news__block-text.small Berling ® —  minimalism photography agency website. with the help of a  minimalistic design, the site turned out to be very  user-friendly  and responsive, and the brand became more.
										.news__block-number (03)
									.news__block-image
										img(src="img/news.jpg" alt="")
								.news__block.active
									.news__block-info
										.news__block-date.small 3th January, 2020
										.news__block-text.small Berling ® —  minimalism photography agency website. with the help of a  minimalistic design, the site turned out to be very  user-friendly  and responsive, and the brand became more.
										.news__block-number (04)
									.news__block-image
										img(src="img/news.jpg" alt="")
								.news__block.active
									.news__block-info
										.news__block-date.small 3th January, 2020
										.news__block-text.small Berling ® —  minimalism photography agency website. with the help of a  minimalistic design, the site turned out to be very  user-friendly  and responsive, and the brand became more.
										.news__block-number (05)
									.news__block-image
										img(src="img/news.jpg" alt="")



			.scrollable
				section.contacts
					.sticky-title
						ul
							li
								div contact
								div 6.0
					.content
						.content__left
							.content__title
								.h1 Hire &nbsp;&nbsp;&nbsp;&nbsp; me
								.small Enjoy coffe with me

							ul.content__menu.contacts__menu
								li.active
									span mail: 000.lunchbox@gmail.com
								li.active
									span skype: murren8
								li.active
									a(href="") www.behance.net/Paulggooo
								li.active
									span telegram: Paul_inc

							.contacts__copyright.small © Pattison 2021.  All Rights Resevered

						.content__right
							.content__subtitle Let's grab a coffee and jump on <span>conversation</span> chat with me.
							.content__contacts.contacts__form
								.content__brief
									.content__brief-title
										a(href="") send a brief
									.content__brief-text.small I recommend filling out a brief to assess the cost of the project. <a href="">Brief</a>

								form.content__form
									label.content__form-input
										input(type="text" name="name")
										span.content__form-placeholder name
									label.content__form-input
										input(type="email" name="emal" required="")
										span.content__form-placeholder EMAIL *
									label.content__form-input
										input(type="text" name="msg" required="")
										span.content__form-placeholder MESSAGE *
									.content__form-btn
										button.btn.btn--arrow(type="submit")
											svg
												use(xlink:href="./svg/sprite.svg#arrow")