extends layouts/default
block favicon
	link(rel='shortcut icon' href='img/favicon_1.ico' type='image/x-icon')
block vars
	-
		const page = {
			title: 'Gsap'
		};




block main
	canvas#noise.noise
	.header
		.header__left
			.header__letter P
			.header__socials
				a(href="" target="_blank")
					svg
						use(xlink:href="./svg/sprite.svg#fb")
				a(href="" target="_blank")
					svg
						use(xlink:href="./svg/sprite.svg#tw")
				a(href="" target="_blank")
					svg
						use(xlink:href="./svg/sprite.svg#in")
		.header__right
			ul.header__menu
				li
					a(href="#") HOME
				li
					a(href="#") Projects
				li
					a(href="#") awwards
				li
					a(href="#") testimonials
				li
					a(href="#") blog
				li
					a(href="#") CONTACT

			.header__phone
				a(href="tel:+23155908368") +2(315) 590 83 68


	.scroll
		.home-page
			.page-title.show
				ul
					li
						.title my name is robert
						.number 1.0
					li
						.title Portfolio
						.number 2.0
					li
						.title my awwards
						.number 3.0
					li
						.title testimonials
						.number 4.0
					li
						.title working experience
						.number 5.0
					li
						.title from the blog
						.number 5.0
					li
						.title contact
						.number 6.0

			.scrollable
				section.home
					.sticky-title
						ul
							li
								div my name is robert
								div 1.0
					.content
						.content__left
							.content__title
								.h1 GET &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; YOUR
								.small Always available for freelance work, contact me and get your greate design ;)
								.h1 GREAT
								.h1 &nbsp;&nbsp;&nbsp;&nbsp; Design

							.content__description
								.small Hello, my name is Pattison and i am UX/UI designer and front-end developer, im working via developer 9 years and i know all about design


							.content__btn-block
								.content__btn-label.small (hire me :)
								a.content__btn-btn.btn.btn--arrow(href="#")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")

						.content__right
			.scrollable
				section
					.sticky-title
						ul
							li
								div Portfolio
								div 2.0
					.content
						.content__left
							.content__title
								.h1 projects

							.content__btn-block
								.content__btn-label.small View all works
								a.content__btn-btn.btn.btn--arrow(href="#")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")


						.content__right
			.scrollable
				section
					.sticky-title
						ul
							li
								div my awwards
								div 3.0
					.content
						.content__left
							.content__title
								.h1 Explore &nbsp; my
								.small I love my work and every project is my pride
								.h1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; profile

							.content__description
								.small Hello, my name is Pavel Suslov and i am UX/UI designer and front-end developer, im working via developer 9 years and i know all about design

							.content__btn-block
								.content__btn-label.small View behance
								a.content__btn-btn.btn.btn--arrow(href="#")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")


						.content__right
			.scrollable
				section
					.sticky-title
						ul
							li
								div testimonials
								div 4.0
					.content(style="background-image: url(images/testmonials-bg.png); background-size: auto 100%; background-repeat: no-repeat; background-position: center center;")
						.content__left
							.content__title
								.h1 +250
								.small I love my work and every project is my pride
								.h1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; happy
								.h1 &nbsp; clients
						.content__right
			.scrollable
				section
					.sticky-title
						ul
							li
								div working experience
								div 5.0
					.content
						.content__left
							.content__title
								.h1 Education &nbsp; &
								.small Professional awards I’ve reached during my working times.
								.h1 &nbsp;&nbsp; experience

							.content__description
								.small I have been developing sites for 8 years and I know for sure the main trends and directions of modern design, you will get a decent result

							.content__btn-block
								a.content__btn-btn.btn(href="#") resume

						.content__right
			.scrollable
				section
					.sticky-title
						ul
							li
								div from the blog
								div 5.0
					.content
						.content__left
							.content__title
								.h1 latest
								.small I love my work and every project is my pride
								.h1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; news

							.content__btn-block
								.content__btn-label.small View all works
								a.content__btn-btn.btn.btn--arrow(href="#")
									svg
										use(xlink:href="./svg/sprite.svg#arrow")

						.content__right
			.scrollable
				section
					.sticky-title
						ul
							li
								div contact
								div 6.0
					.content
						.content__left
							.content__title
								.h1 Hire &nbsp;&nbsp;&nbsp;&nbsp; me
								.small Enjoy coffe with me

						.content__right