.header{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid rgba(230, 227, 217, 0.3);
  height: vw(89);
  left: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  &__left{
    width: 709px;
    box-sizing: border-box;
    border-right: 1px solid rgba(230, 227, 217, 0.3);
    display: flex;
    flex-shrink: 0;
  }
  &__right{
    width: calc(100% - 709px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 32px;
  }

  &__letter{
    width: vw(82);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: vw(38);
    text-align: center;
    flex-shrink: 0;
    box-sizing: border-box;
    border-right: 1px solid rgba(230, 227, 217, 0.3);
  }
  &__socials{
    padding: 0 32px;
    display: flex;
    align-items: center;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: vw(19);
      height: vw(20);
      +a{
        margin-left: 32px;
      }
      svg{
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }
  }
  &__menu{
    list-style: none;
    display: flex;
    align-items: center;
    li{
      display: block;
      padding: 0 32px;
      text-transform: uppercase;
      a{
        font-size: 14px;
        line-height: 140%;
        display: block;
      }
      &.active{
        a{
          color: $orange-color;
        }
      }
    }
  }
  &__phone{
    text-align: right;
    a{
      font-size: 15px;
      line-height: 130%;
      display: block;
    }
  }
}


.scroll {
  z-index: 1;
  position: fixed;
  width: 100%;
}

.page-title,
.sticky-title {
  overflow: hidden;
  width: vw(82);
  height: 100%;
  position: fixed;
  flex-shrink: 0;
  z-index: 20;
  transform: translateX(-100%);
  border-right: 1px solid rgba(230, 227, 217, 0.3);
  box-sizing: border-box;
  &.show{
    transform: translateX(0);
  }
  .number, .title{
    display: block;
    transform: translateZ(0);
  }
  ul{
    text-transform: uppercase;
    width: 100vh;
    font-size: vw(38);
    position: absolute;
    bottom: 0;
    left: 0;
    height: vw(82);
    transform-origin: 0 100%;
    transform: rotate(-90deg) translateY(100%) translateX(vw(89));
    white-space: nowrap;
    z-index: 1;
    li{
      position: absolute;
      padding: 0 vw(128) 0 vw(35);
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      left: 0;
      width: 100%;
      top: 0;
      height: 100%;
      align-items: center;
    }
  }
}

.page-title{
  background: #1C1C1C;
  background: rgba(36,31,31,1);
  ul{
    li:not(:first-child){
      transform: translateY(-100%);
    }
  }
}

.sticky-title {
  transform: translateX(0) !important;
  letter-spacing: 0.02em;
  border-left: 1px solid rgba(230, 227, 217, 0.3);

  ul {
    transform: rotate(-90deg) translateY(100%) translateX(0) !important;
  }

  span {
    display: inline-block;
  }
}


.btn{
  border: none;
  color:$main-color;
  cursor: pointer;
  display: inline-block;
  border-radius: 70px;
  background: $orange-color;
  transition: background 0.3s;
  font-size: 18px;
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 60px;
  &:hover{
    background: $main-color;
    color: $orange-color;
  }
  svg{
    max-width: 36px;
    max-height: 16px;
    display: block;
    object-fit: contain;
    object-position: center;
  }
  &--arrow{
    padding: 26px 36px;
  }
}

.h1{
  font-weight: 500;
  font-size: 76px;
  line-height: 0.85;
  text-transform: uppercase;
}

.small{
  font-size: 15px;
  line-height: 130%;
}

.home-page {
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: vw(89);
  display: flex;
  .scrollable {
    display: flex;
    height: 100%;
    flex-shrink: 0;
    >* {
      flex-shrink: 0;
    }
  }
  section{
    display: flex;
    position: relative;
    height: 100%;
  }
  .content{
    width: 100vw;
    height: 100%;
    padding-left: vw(82);
    box-sizing: border-box;
    display: flex;
    position: relative;
    &__bg{
      position: absolute;
      z-index: -2;
      width: calc(100% - 7.80952vh);
      height: 100%;
      background-size: cover;
      right: 0;
      top: 0;
      pointer-events: none;
      opacity: 0.5;
      &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31));
        display: block;
      }
    }
    &__left{
      width: calc(709px - 7.80952vh);
      border-right: 1px solid rgba(230, 227, 217, 0.3);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 22px 40px 22px 22px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    &__right{
      width: calc(100% - (709px - 7.80952vh));
      padding: 22px;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
    }

    &__title{
      >*{
        position: relative;
      }
    }
    &__description{
      margin-top: vw(48);
      max-width: 380px;
      position: relative;

      +.content__btn-block{
        margin-top: 105px;
      }
    }
    &__btn{
      &-block{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 75px;
        position: relative;
      }
      &-label{
        margin-right: 27px;
      }
      &-btn{
        flex-shrink: 0;
      }
    }


    &__menu{
      list-style: none;
      margin-top: 131px;
      margin-left: -22px;
      margin-right: -40px;
      li{
        font-size: 22px;
        line-height: 160%;
        text-transform: uppercase;
        border-top: 1px solid #E2DCC8;
        border-bottom: 1px solid #E2DCC8;
        display: flex;
        position: relative;
        opacity: 0.5;
        +li{
          margin-top: -1px;
        }
        > span{
          color: inherit;
          padding: 9px 52px 9px 22px;
          display: block;
          width: 100%;
          position: relative;
        }
        > a {
          color: inherit;
          padding: 9px 52px 9px 22px;
          display: block;
          width: 100%;
          position: relative;
        }
        &:hover{
          opacity: 0.8;
        }
        &.active{
          opacity: 1;
          a{
            &::after{
              content: "";
              position: absolute;
              right: 16px;
              top: 50%;
              transform: translateY(-50%);
              width: 19px;
              height: 19px;
              background: url(../img/arrow-link.svg) center center no-repeat;
              background-size: contain;
              pointer-events: none;
              user-select: none;
            }
          }
        }
      }
    }
    &__subtitle{
      font-weight: 500;
      font-size: 40px;
      line-height: 120%;
      max-width: 514px;
      position: relative;
      span{
        color: $orange-color;
      }
    }

    &__awards{
      margin-left: -22px;
      margin-right: -22px;
      height: -webkit-fill-available;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__award{
      min-height: 170px;
      display: flex;
      align-items: center;
      padding: 22px 74px;
      overflow: hidden;
      position: relative;
      +.content__award{
        border-top: 1px solid rgba(226, 220, 200, 0.3);
      }
      &-img{
        width: 85px;
        height: 85px;
        display: flex;
        align-items: center;
        flex-basis: 85px;
        flex-shrink: 0;
        margin-right: 73px;
        img{
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          display: block;
        }
      }
      &-title{
        width: 310px;
        margin-right: 58px;
        p{
          font-size: 22px;
          line-height: 130%;
          text-transform: uppercase;
        }
        span{
          opacity: 0.5;
        }
      }
      &-text{
        width: 390px;
      }
    }

    &__contacts{
      display: flex;
      align-items: center;
    }

    &__brief{
      width: 321px;
      margin-right: 193px;
      position: relative;
      &-title{
        font-size: 18px;
        line-height: 35px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: inherit;
      }
      &-text{
        margin-top: 24px;
        span,a{
          color: $orange-color;
        }
      }
    }

    &__form{
      width: 495px;
      position: relative;
      &-placeholder{
        height: 100%;
        width: 100%;
        font-size: 18px;
        line-height: 50px;
        opacity: 0.5;
        text-transform: uppercase;
        pointer-events: none;
        user-select: none;
        display: block;
        transition: 0.2s;
        position: absolute;
        top: 0;
        left: 0;
      }
      &-input{
        height: 50px;
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 100%;
        +.content__form-input{
          margin-top: 56px;
        }
        input{
          background: transparent;
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          outline: none;
          color: inherit;
          border: none;
          border-bottom: 1px solid #E2DCC8;
          font-size: 18px;
          line-height: 35px;
          &.valid,
          &:focus{
            outline: none;
            +.content__form-placeholder{
              font-size: 13px;
              line-height: 13px;
              top: -6px;
            }
          }
        }
      }
      &-btn{
        margin-top: 78px;
      }
    }
  }
}

.home{
  &__circles{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &-lines{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      div{
        width: 1px;
        height: 0;
        background: rgba(230, 227, 217, 0.3);
        opacity: 0;
        &:first-child,
        &:last-child{
          opacity: 0;
        }
      }
    }
  }

  &__circle{
    width: 608px;
    height: 609px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    z-index: 2;
    background: rgba(19, 19, 19, 0.4);
    &-img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    &-text{
      font-size: 22px;
      line-height: 130%;
      a{
        text-decoration: underline;
        color: inherit;
        &:hover{
          color: inherit;
          text-decoration: none;
        }
      }
    }

    &--left{
      left: 250%;
      transform: translateY(-50%) translateX(-95%);
    }
    &--right{
      z-index: 3;
      right: 250%;
      transform: translateY(-50%) translateX(95%);
    }
  }


  &__numbers{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }
  &__number{
    display: flex;
    align-items: center;
    position: relative;
    &-digital{
      font-size: 74px;
      line-height: 140%;
    }
    &-text{
      margin-left: 26px;
    }
  }
}



.projects{
  &__menu{}
  &__blocks{
    height: 100%;
    overflow: hidden;
  }
  &__block{
    height: auto;
    overflow: visible;
    display: none;
    +.projects__block{
      padding-top: 22px;
    }
    img{
      width: 100%;
      display: block;
    }
    &.active{
      display: block;
    }
  }
}

.awards{

}


.testimonials{
  &__clients{
    margin-top: auto;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
  }
  &__client{
    width: 50%;
    box-sizing: border-box;
    height: 120px;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 0 5px;
    position: relative;
    img{
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}



.news{
  &__menu{}
  &__blocks{
    height: 100%;
    overflow: hidden;
    padding-right: 30px;
  }
  &__block{
    height: auto;
    overflow: visible;
    display: none;
    +.news__block {
      padding-top: 22px;
    }
    img{
      width: 100%;
      display: block;
    }
    &-info{
      display: flex;
      justify-content: space-between;
      margin-bottom: 55px;
    }
    &-date{
      width: 380px;
      opacity: 0.6;
    }
    &-text{
      width: 390px;
    }
    &-number{
      font-weight: 500;
      font-size: 40px;
      line-height: 1;
    }


    &.active{
      display: block;
    }
  }
}


.contacts{
  &__copyright{
    margin-top: auto;
    position: relative;
  }
  &__form{
    margin-top: 80px;
  }
}