.header{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  border-bottom: 1px solid rgba(230, 227, 217, 0.3);
  height: vw(89);
  left: 0;
  position: fixed;
  top: 0;
  z-index: 2;
  &__left{
    width: 36.927vw;
    box-sizing: border-box;
    border-right: 1px solid rgba(230, 227, 217, 0.3);
    display: flex;
    flex-shrink: 0;
  }
  &__right{
    width: calc(100% - 36.927vw);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: vw2(32);
  }

  &__letter{
    width: vw(82);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: vw(38);
    text-align: center;
    flex-shrink: 0;
    box-sizing: border-box;
    border-right: 1px solid rgba(230, 227, 217, 0.3);
  }
  &__socials{
    padding: 0 vw2(32);
    display: flex;
    align-items: center;
    a{
      display: flex;
      align-items: center;
      justify-content: center;
      width: vw2(19);
      height: vw(20);
      +a{
        margin-left: 32px;
      }
      svg{
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }
  }
  &__menu{
    list-style: none;
    display: flex;
    align-items: center;
    li{
      display: block;
      padding: 0 vw2(32);
      text-transform: uppercase;
      a{
        font-size: vw2(14);
        line-height: 140%;
        display: block;
      }
      &.active{
        a{
          color: $orange-color;
        }
      }
    }
  }
  &__phone{
    text-align: right;
    a{
      font-size: vw2(15);
      line-height: 130%;
      display: block;
    }
  }
}


.scroll {
  z-index: 1;
  position: fixed;
  width: 100%;
}

.page-title,
.sticky-title {
  overflow: hidden;
  width: vw(82);
  height: 100%;
  position: fixed;
  flex-shrink: 0;
  z-index: 20;
  transform: translateX(-100%);
  border-right: 1px solid rgba(230, 227, 217, 0.3);
  box-sizing: border-box;
  &.show{
    transform: translateX(0);
  }
  .number, .title{
    display: block;
    transform: translateZ(0);
  }
  ul{
    text-transform: uppercase;
    width: 100vh;
    font-size: vw(38);
    position: absolute;
    bottom: 0;
    left: 0;
    height: vw(82);
    transform-origin: 0 100%;
    transform: rotate(-90deg) translateY(100%) translateX(vw(89));
    white-space: nowrap;
    z-index: 1;
    li{
      position: absolute;
      padding: 0 vw(128) 0 vw(35);
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      left: 0;
      width: 100%;
      top: 0;
      height: 100%;
      align-items: center;
    }
  }
}

.page-title{
  background: #1C1C1C;
  background: rgba(36,31,31,1);
  ul{
    li:not(:first-child){
      transform: translateY(-100%);
    }
  }
}

.sticky-title {
  transform: translateX(0) !important;
  letter-spacing: 0.02em;
  border-left: 1px solid rgba(230, 227, 217, 0.3);

  ul {
    transform: rotate(-90deg) translateY(100%) translateX(0) !important;
  }

  span {
    display: inline-block;
  }
}


.btn{
  border: none;
  color:$main-color;
  cursor: pointer;
  display: inline-block;
  border-radius: 70px;
  background: $orange-color;
  transition: background 0.3s;
  font-size: vw(18);
  line-height: 130%;
  text-transform: uppercase;
  text-align: center;
  padding: vw(14) vw2(60);
  &:hover{
    background: $main-color;
    color: $orange-color;
  }
  svg{
    max-width: vw2(36);
    max-height: vw(16);
    display: block;
    object-fit: contain;
    object-position: center;
  }
  &--arrow{
    padding: vw(26) vw2(36);
  }
  &--invert{
    background: transparent;
    border: 1px solid $main-color;
  }
}

.h1{
  font-weight: 500;
  font-size: vw2(76);
  line-height: 0.85;
  text-transform: uppercase;
}

.small{
  font-size: vw2(15);
  line-height: 130%;
}

.home-page {
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: vw(89);
  display: flex;
  .scrollable {
    display: flex;
    height: 100%;
    flex-shrink: 0;
    >* {
      flex-shrink: 0;
    }
  }
  section{
    display: flex;
    position: relative;
    height: 100%;
  }
  .content{
    width: 100vw;
    height: 100%;
    padding-left: vw(82);
    box-sizing: border-box;
    display: flex;
    position: relative;
    &__bg{
      position: absolute;
      z-index: -2;
      width: calc(100% - 7.80952vh);
      height: 100%;
      background-size: cover;
      right: 0;
      top: 0;
      pointer-events: none;
      opacity: 0.5;
      &::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31));
        display: block;
      }
    }
    &__left{
      width: calc(36.927vw - 7.80952vh);
      border-right: 1px solid rgba(230, 227, 217, 0.3);
      flex-shrink: 0;
      box-sizing: border-box;
      padding: vw(22) vw2(40) vw(22) vw2(22);
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
    &__right{
      width: calc(100% - (36.927vw - 7.80952vh));
      padding: vw(22) vw2(22);
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
    }

    &__title{
      >*{
        position: relative;
      }
    }
    &__description{
      margin-top: vw(48);
      max-width: vw2(380);
      position: relative;

      +.content__btn-block{
        margin-top: vw(105);
      }
    }
    &__btn{
      &-block{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: vw(75);
        position: relative;
      }
      &-label{
        margin-right: vw2(27);
      }
      &-btn{
        flex-shrink: 0;
      }
    }


    &__menu{
      list-style: none;
      margin-top: vw(131);
      margin-left: vw2(-22);
      margin-right: vw2(-40);
      li{
        font-size: vw(22);
        line-height: 160%;
        text-transform: uppercase;
        border-top: 1px solid #E2DCC8;
        border-bottom: 1px solid #E2DCC8;
        display: flex;
        position: relative;
        opacity: 0.5;
        +li{
          margin-top: -1px;
        }
        > span{
          color: inherit;
          padding: vw(9) vw2(52) vw(9) vw2(22);
          display: block;
          width: 100%;
          position: relative;
        }
        > a {
          color: inherit;
          padding: vw(9) vw2(52) vw(9) vw2(22);
          display: block;
          width: 100%;
          position: relative;
        }
        &:hover{
          opacity: 0.8;
        }
        &.active{
          opacity: 1;
          a{
            &::after{
              content: "";
              position: absolute;
              right: vw2(16);
              top: 50%;
              transform: translateY(-50%);
              width: vw2(19);
              height: vw(19);
              background: url(../img/arrow-link.svg) center center no-repeat;
              background-size: contain;
              pointer-events: none;
              user-select: none;
            }
          }
        }
      }
    }
    &__subtitle{
      font-weight: 500;
      font-size: vw(40);
      line-height: 120%;
      max-width: vw2(514);
      position: relative;
      span{
        color: $orange-color;
      }
    }

    &__awards{
      margin-left: vw2(-22);
      margin-right: vw2(-22);
      height: -webkit-fill-available;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__award{
      min-height: vw(170);
      display: flex;
      align-items: center;
      padding: vw(22) vw2(74);
      overflow: hidden;
      position: relative;
      +.content__award{
        border-top: 1px solid rgba(226, 220, 200, 0.3);
      }
      &-img{
        width: vw2(85);
        height: vw(85);
        display: flex;
        align-items: center;
        flex-basis: vw2(85);
        flex-shrink: 0;
        margin-right: vw2(73);
        img{
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          display: block;
        }
      }
      &-title{
        width: vw2(310);
        margin-right: vw2(58);
        p{
          font-size: vw2(22);
          line-height: 130%;
          text-transform: uppercase;
        }
        span{
          opacity: 0.5;
        }
      }
      &-text{
        width: vw2(390);
      }
    }

    &__contacts{
      display: flex;
      align-items: center;
    }

    &__brief{
      width: vw2(321);
      margin-right: vw2(193);
      position: relative;
      &-title{
        font-size: vw2(18);
        line-height: vw2(35);
        text-decoration-line: underline;
        text-transform: uppercase;
        color: inherit;
      }
      &-text{
        margin-top: vw(24);
        span,a{
          color: $orange-color;
        }
      }
    }

    &__form{
      width: vw2(495);
      position: relative;
      &-placeholder{
        height: 100%;
        width: 100%;
        font-size: vw(18);
        line-height: vw(50);
        opacity: 0.5;
        text-transform: uppercase;
        pointer-events: none;
        user-select: none;
        display: block;
        transition: 0.2s;
        position: absolute;
        top: 0;
        left: 0;
      }
      &-input{
        height: vw(50);
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 100%;
        +.content__form-input{
          margin-top: vw(56);
        }
        input{
          background: transparent;
          height: 100%;
          width: 100%;
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          outline: none;
          color: inherit;
          border: none;
          border-bottom: 1px solid #E2DCC8;
          font-size: vw(18);
          line-height: vw(35);
          &.valid,
          &:focus{
            outline: none;
            +.content__form-placeholder{
              font-size: vw(13);
              line-height: vw(13);
              top: vw(-6);
            }
          }
        }
      }
      &-btn{
        margin-top: vw(78);
      }
    }

    &__slider{
      margin-left: vw2(339);
      padding-left: vw2(200);
      position: relative;
      box-sizing: border-box;
      margin-top: vw(224);
      &::before{
        content: "";
        display: block;
        width: vw2(101);
        height: vw(87);
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
        background: url("../img/q.png") left top no-repeat;
        background-size: contain;
      }

      &-name{
        margin-top: vw(49);
        font-size: vw2(22);
        line-height: 1.59;
        text-transform: uppercase;
      }
      &-staff{
        margin-top: vw(8);
      }
    }
  }
}


.slides{
  position: relative;
  width: vw2(580);
  display: flex;
  flex-direction: column;
  &__container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
    height: vw(340);
  }
  &__inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__controls {
    display: flex;
    margin-top: vw(30)
  }
  &__btn{
    &--prev{
      transform: scaleX(-1);
    }
    &--next{}
     +.slides__btn{
      margin-left: vw2(35);
    }
  }

  .slide {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
  }


}



.home{
  &__circles{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &-lines{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      div{
        width: 1px;
        height: 0;
        background: rgba(230, 227, 217, 0.3);
        opacity: 0;
        &:first-child,
        &:last-child{
          opacity: 0;
        }
      }
    }
  }

  &__circle{
    width: vw(608);
    height: vw(609);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    z-index: 2;
    background: rgba(19, 19, 19, 0.4);
    &-img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    &-text{
      font-size: vw(22);
      line-height: 130%;
      a{
        text-decoration: underline;
        color: inherit;
        &:hover{
          color: inherit;
          text-decoration: none;
        }
      }
    }

    &--left{
      left: 250%;
      transform: translateY(-50%) translateX(-95%);
    }
    &--right{
      z-index: 3;
      right: 250%;
      transform: translateY(-50%) translateX(95%);
    }
  }


  &__numbers{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
  }
  &__number{
    display: flex;
    align-items: center;
    position: relative;
    &-digital{
      font-size: vw2(74);
      line-height: 140%;
    }
    &-text{
      margin-left: vw2(26);
    }
  }
}



.projects{
  &__menu{}
  &__blocks{
    height: 100%;
    overflow: hidden;
  }
  &__block{
    height: auto;
    overflow: visible;
    display: none;
    +.projects__block{
      padding-top: vw(50);
    }
    img{
      width: 100%;
      display: block;
    }
    &.active{
      display: block;
    }
  }
}

.awards{

}


.testimonials{
  &__clients{
    margin-top: auto;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
  }
  &__client{
    width: 50%;
    box-sizing: border-box;
    height: vw(120);
    display: flex;
    align-items: center;
    margin: vw(5) 0;
    padding: 0 vw2(5);
    position: relative;
    img{
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}



.news{
  &__menu{}
  &__blocks{
    height: 100%;
    overflow: hidden;
    padding-right: vw2(30);
  }
  &__block{
    height: auto;
    overflow: visible;
    display: none;
    +.news__block {
      padding-top: vw(100);
    }
    img{
      width: 100%;
      display: block;
    }
    &-info{
      display: flex;
      justify-content: space-between;
      margin-bottom: vw(55);
    }
    &-date{
      width: vw2(380);
      opacity: 0.6;
    }
    &-text{
      width: vw2(390);
    }
    &-number{
      font-weight: 500;
      font-size: vw2(40);
      line-height: 1;
    }


    &.active{
      display: block;
    }
  }
}


.contacts{
  &__copyright{
    margin-top: auto;
    position: relative;
  }
  &__form{
    margin-top: vw(80);
  }
}